*::-webkit-scrollbar { 
    display: none; 
}

/*////////////*/
/*Landing Menu*/
/*////////////*/

.landing-dark .landing-overlay{background-color:rgba(0,0,0,0.8);}
.landing-dark ul li a em{ color:#FFFFFF;}
.landing-dark .deco{ background-color:rgba(255,255,255,0.1)!important;}
.landing-dark .landing-header-logo{ color:#FFFFFF!important;}

.landing-light .landing-overlay{background-color:rgba(255,255,255,0.8);}
.landing-light ul li a em{ color:#000000;}
.landing-light .deco{ background-color:rgba(0,0,0,0.1)!important;}
.landing-light .landing-header-logo{ color:#000000!important;}


.landing-homepage ul {
    padding-left:20px;
    padding-right:20px;
}

.landing-homepage ul li:last-child{
    margin-bottom:40px;
}

.landing-homepage ul li{
    list-style:none;
    margin-bottom:20px;
}

.landing-homepage ul li{
    width:33.3%;
    float:left;
}

.landing-homepage ul li a{
    padding-top:10px;
}

.landing-homepage ul li a i{
    width:65px;
    height:65px;
    font-size:20px;
    line-height:65px;
    text-align:center;
    display:block;
    color:#FFFFFF;
    border-radius:65px;
    margin-left:auto;
    margin-right:auto;
    -webkit-box-shadow: 0 1px 2px 2px rgba(0,0,0,0.10);
            box-shadow: 0 1px 2px 2px rgba(0,0,0,0.10);  
    -moz-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transition: all 150ms ease;
    -moz-transition: all 150ms ease;
    -ms-transition: all 150ms ease;
    -o-transition: all 150ms ease;
    transition: all 150ms ease;
}

.landing-homepage ul li a i:hover{
    -moz-transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
    -webkit-transition: all 150ms ease;
    -moz-transition: all 150ms ease;
    -ms-transition: all 150ms ease;
    -o-transition: all 150ms ease;
    transition: all 150ms ease;
}

.landing-homepage ul li a em{
    display:block;
    font-size:14px;
    opacity:0.8;
    font-style:normal;
    text-align:center;
    padding-top:10px;
    font-weight:500;
}

.landing-homepage .fa-mobile{
    font-size:32px!important;
}

.landing-homepage #mynano{
    top:0px!important;    
}

@media(min-width:767px){
    .landing-homepage .deco{
        width:700px;
        margin-left:auto;
        margin-right:auto;
    }
    
    .landing-header{
        width:700px!important;
        margin-left:auto;
        margin-right:auto;
    }
        
    .landing-homepage ul {
        width:700px!important;
        margin-left:auto!important;
        margin-right:auto!important;
    }
    
    .landing-homepage ul li{
        margin-bottom:20px;   
    }
    
    .landing-homepage ul li a em{
        font-size:16px;   
    }
    
    .landing-homepage ul li a i{
        width:100px;
        height:100px;
        line-height:100px;
        font-size:250%;
        margin-bottom:0px;
    }
    
    .landing-homepage .fa-mobile{
        font-size:48px!important;
    }
    
    .landing-homepage .header{
        position:relative;
    }
    
    .landing-homepage .header-clear{
        height:30px;   
    }
}

.landing-header{
    width:100%;
    z-index:98;
    padding-left:30px;
    padding-right:30px;
    padding-top:20px;
    margin-bottom:50px;
}

.landing-header-logo{
    width:100px;
    height:30px;
    margin-top:5px;
    float:left;
    font-size:24px;
    font-weight:800;
}

.landing-header-icons{
    height:40px;
    padding-top:5px;
    padding-right:5px;
    width:125px;
    float:right;
    margin-bottom:25px;
}

.landing-header-icons a{
    float:right;
    width:30px;
    height:30px;
    margin-left:10px;
    border-radius:30px;
    line-height:20px;
    -moz-transform: scale(1,1);
    -webkit-transform: scale(1,1);
    -o-transform: scale(1,1);
    -ms-transform: scale(1,1);
    transform: scale(1,1);
    -webkit-transition: all 150ms ease;
    -moz-transition: all 150ms ease;
    -ms-transition: all 150ms ease;
    -o-transition: all 150ms ease;
    transition: all 150ms ease;
}

.landing-header-icons a:hover{
    -moz-transform: scale(1.15,1.15)!important;
    -webkit-transform: scale(1.15,1.15)!important;
    -o-transform: scale(1.15,1.15)!important;
    -ms-transform: scale(1.15,1.15)!important;
    transform: scale(1.15,1.15)!important;
    -webkit-transition: all 150ms ease;
    -moz-transition: all 150ms ease;
    -ms-transition: all 150ms ease;
    -o-transition: all 150ms ease;
    transition: all 150ms ease;
}

.landing-header-icons a i{
    font-size:10px;
    line-height:30px;
    width:30px;
    text-align:center;
    color:#FFFFFF;
}

.landing-footer-icons a, .landing-footer-icons a i{
    width:40px;
    height:40px;
    line-height:40px;
    text-align:center;
}

.landing-footer-icons{
    width:265px;
    margin:0 auto;
}

.landing-wrapper{
    position:relative;
    z-index:999;
}

.landing-wrapper .deco{
    height:1px;
    width:100%;
    display:block;
    margin-bottom:20px;
    margin-top:0px;
    clear:both!important;
}

.landing-overlay{
    position:fixed;
    z-index:99;
    left:0px;
    right:0px;
    bottom:0px;
    top:0px;
}

.background{
    background-position:50% 50%;
    background-size:cover;
    background-image:url(../images/pictures/0.jpg);
    height:100%;
    width:100%;
    position:fixed;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
}

.full-width-menu{
    left:0px!important;
    right:0px!important;
    bottom:0px!important;
    border-radius:0px!important;
}

.footer-menu{
    position:fixed;
    bottom:10px;
    left:10px;
    right:10px;
    z-index:9999;
    border-radius:6px;
    transition:all 250ms ease;
}

.footer-menu-dark{
    background-color:#0e141b;
    border:solid 1px rgba(255,255,255,0.1);
}

.footer-menu-dark a{
    color:#FFFFFF;
    border-right:solid 1px rgba(255,255,255,0.1);
}

.footer-menu-dark a:hover{
    background-color:rgba(255,255,255,0.05);
}

.footer-menu-dark a em{
    color:rgba(255,255,255,0.5)!important;
}

.footer-menu-light{
    background-color:#ecf0f1;
    border:solid 1px rgba(0,0,0,0.1);
    box-shadow: 0 4px 28px rgba(0,0,0,0.25), 0 5px 10px rgba(0,0,0,0.22);
    z-index:999999999;
}

.footer-menu-light a{
    color:#1f1f1f;
    border-right:solid 1px rgba(0,0,0,0.1);
}

.footer-menu-light a:hover{
    background-color:rgba(0,0,0,0.1);
}

.footer-menu a{
    font-size:17px;
    height:60px;
    float:left;
    line-height:80px;
    text-align:center;
}

.footer-menu a:last-child{
    border-right:none!important;
}

.footer-menu a i{
    width:20%;
    left:50%;
    margin-left:-10%;
    line-height:40px;
    position:absolute;
}

.footer-menu em{
    font-size:13px;
    font-style:normal;
}


@media(max-width:460px){
    .footer-menu a{
        width:20%;   
    }
    
    .phablet-item, .tablet-item{
        display:none;   
    }
}

@media(min-width:461px) and (max-width:600px){
    .footer-menu a{
        width:16.6%;   
    }
    
    .tablet-item{
        display:none;   
    }
}


@media(min-width:601px){
    .footer-menu a{
        width:12.5%;   
    }
}

.launchpad-dark{
    background-color:#0e141b;
    opacity:1;
    transform:translateY(-120%);
    pointer-events:none;
    transition:all 250ms ease;
    border:solid 1px rgba(255,255,255,0.1);
}

.launchpad-light{
    background-color:#ecf0f1;
    opacity:1;
    transform:translateY(-120%);
    pointer-events:none;
    transition:all 250ms ease;
    box-shadow: 0 4px 28px rgba(0,0,0,0.25), 0 5px 10px rgba(0,0,0,0.22);
}

.show-launchpad{
    transform:translateY(0px);
    transition:all 250ms ease;
    pointer-events: all!important;
}

.full-width-launchpad{
    top:0px!important;
    left:0px!important;
    right:0px!important;
    bottom:60px!important;
    border-radius:0px!important;
}

.launchpad{
    border-radius:10px;
    position:fixed;
    top:10px;
    left:10px;
    right:10px;
    bottom:80px;
    z-index:9999;
    overflow:hidden;
}

.launchpad-scroll{
    padding-top:20px;
    padding-left:20px;
    padding-right:10px;
    padding-bottom:20px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0px; 
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.launchpad-dark .active-menu-item i:first-child{
    background-color:#FFFFFF!important;
    color:#0e141b!important;
    transition:all 250ms ease;
}

.launchpad-light .active-menu-item i:first-child{
    background-color:#000000!important;
    color:#FFFFFF!important;
    transition:all 250ms ease;
}

.menu-item{
    height:75px;
    transition:all 250ms ease;
}

.launchpad-light .menu-item i:first-child{
    border:solid 1px rgba(0,0,0,0.2);
    color:#000000;
}

.menu-item i:first-child{
    border:solid 1px rgba(255,255,255,0.2);
    border-radius:60px;
    position:absolute;
    height:50px;
    width:50px;
    line-height:50px;
    text-align:center;
    font-size:16px;
    color:#FFFFFF;
    left:15px;
    margin-top:6px;
    transition:all 250ms ease;
}

.launchpad-light .menu-item em{
    color:rgba(0,0,0,0.9);
}

.menu-item em{
    height:65px;
    line-height:65px;
    float:left;
    padding-left:90px;
    font-style:normal;
    color:rgba(255,255,255,1);
    font-size:15px;
}

.launchpad-light .menu-item .fa-circle{
    color:rgba(0,0,0,0.5);
}

.menu-item .fa-circle{
    float:right;
    width:80px;
    height:65px;
    text-align:center;
    line-height:65px;
    color:rgba(255,255,255,0.5);
    font-size:4px;
}

.launchpad-light .menu-item .fa-angle-down{
    color:rgba(0,0,0,0.5);
}

.menu-item .fa-angle-down{
    float:right;
    width:80px;
    height:65px;
    text-align:center;
    line-height:65px;
    color:rgba(255,255,255,0.5);
    font-size:12px;
}

.launchpad-light .submenu i:first-child{
    color:rgba(0,0,0,0.5);
}

.submenu i:first-child{
    font-size:12px;
    color:rgba(255,255,255,0.5);
}

.menu-item .fa-mobile{
    font-size:170%!important;
}

.submenu em{
    font-size:13px;
    opacity:0.8;
    padding-left:110px;
}

.submenu i:first-child{
    padding-left:55px;   
    border:none!important;
}

.submenu .menu-item{
    border-bottom:0px;
}

.submenu .menu-item em{
    margin-left:-5px;
}

.submenu{
    display:none;
}


.active-submenu{
    display:block;
}

.submenu .active-menu-item i:first-child{
    width:30px!important;
    padding:0px;
    height:30px!important;
    line-height:30px!important;
    margin-top:17px;
    margin-left:43px;
}

.launchpad-light .menu-logo{
    background-image:url(../images/logo_dark.png);
}

.menu-logo{
    background-image:url(../images/logo_light.png);
    background-size:130px 25px;
    width:130px;
    height:25px;
    margin-bottom:0px; 
    margin-top:10px;
    margin-left:17px;
}

.menu-subtitle{
    display:block;
    text-align:left;
    margin-bottom:30px;
    padding-left:20px;
    font-style:normal;
}

.launchpad-light .menu-close-top{
    border:solid 1px rgba(0,0,0,0.3)!important;
    color:#000000!important;
}

.menu-close-top{
    position:absolute;
    top:29px;
    right:25px;
    width:50px;
    height:50px;
    line-height:50px;
    text-align:center;
    border:solid 1px rgba(255,255,255,0.3);
    border-radius:50px;
    color:#FFFFFF;
}