body, #page-content-scroll{
    background-color:rgba(255,255,255,1);
}

h1, h2, h3, h4, h5, h6{
    font-family:'Roboto', sans-serif;
    color:#1f1f1f;
    margin-bottom:10px;
}

.sub-heading{
    color:#4c4c4c;
    font-weight:500;
}

body{
    color:#666666;
}

.font-icon-list li{
    color:#666666;
}

.icon-list li a{
	color:#666666;	
}

.font-icon-list li a{
	color:#666666;	
}

.table{
	background:#eaebec;
	border:#ccc 1px solid;
    text-shadow: 1px 1px 0px #fff;
}

.table th{
   border-bottom:1px solid #e0e0e0;   
}

.table tr td {
	border-top: 1px solid #ffffff;
	border-bottom:1px solid #e0e0e0;
	border-left: 0px solid #e0e0e0;
}

.table-text{
	color:#6f6f6f;
}

.text-field{
	background-color:rgba(255,255,255,0.4);
	font-size:12px;
	color:#666;
	border:solid 1px #cacaca;
}

.border-image{
    border:solid 1px rgba(0,0,0,0.2);
    background-color:#FFFFFF;
}

.decoration{
    background-color:rgba(0,0,0,0.1);
}

.decoration-2{
    border-bottom:dashed 1px rgba(0,0,0,0.2);
}

.decoration-3{
    border-bottom:dotted 1px rgba(0,0,0,0.2);
}

.decoration-text-1 i{
    background-color:#FFFFFF;
}

.dropcaps-1:first-letter{
    color:#1f1f1f;
}

.dropcaps-2:first-letter{
    color:#1f1f1f;
}

.dropcaps-3:first-letter{
    background-color:#1f1f1f;
    color:#FFFFFF;
}

.dropcaps-4:first-ltter{
    background-color:#1f1f1f;
    color:#FFFFFF;
}

.quote-1 .quote-text{
    color:rgba(0,0,0,0.7);
}

.quote-1 i{
    color:#f39c12;
}

.quote-2 .quote-author{
    color:#1f1f1f;
}

.quote-2 em i{
    color:#f39c12;   
}

.quote-2 .quote-text{
    color:rgba(0,0,0,0.7);  
}

.quote-3 .quote-author{
    color:#1f1f1f;   
}

.quote-4 .quote-author{
    color:#1f1f1f;   
}

.quote-5{
     border-left:solid 5px #e34e47;
}

.review-1 strong{
    color:#1f1f1f;
}

.review-1 em{
    color:#1f1f1f;
}

.review-1 .review-stars i{
    color:#f3a01b;   
}

.review-1 p{
    color:#343434;
}

.review-2 strong{
    color:#1f1f1f;   
}

.review-2 .review-stars i{
    color:#f3a01b;
}

.review-2 p{
    color:#343434;   
}

.review-3 .review-line i{
    color:#f39c12;
}

.review-3 .review-line strong{
    color:#1f1f1f;
}

.review-3 .review-line-last i{
    color:#d35400;
}

.review-3 .review-line-last strong{
    color:#1f1f1f;
}

.review-3 h5{
    color:#666666;
}

.review-4 h4{
    color:#1f1f1f;
}

.review-4 .review-stars i{
    color:#f39c12;
}

.review-4 p strong{
    color:#1f1f1f;
}

.review-5 h4{
    color:#1f1f1f;
}

.review-6 h4{
    color:#333333;
}

.review-6 strong{
    color:#1f1f1f;
}

.review-6 .review-stars i{
    color:#f39c12;
}

.toggle{
    border-bottom:solid 1px rgba(0,0,0,0.1);   
}

.toggle .toggle-title{
    color:#1f1f1f;
}

.rotate-toggle{
    color:#c0392b!important;
}

.accordion-toggle {
    border-bottom:solid 1px rgba(0,0,0,0.1);
}

.accordion-content p{
    border-bottom:solid 1px rgba(0,0,0,0.1);
}

ul.tabs li{
   color: #1f1f1f; 
}

ul.tabs li.active-tab{
    background: rgba(0,0,0,0.04);
    color: #222;
}

.tab-content{
    background: rgba(0,0,0,0.04);   
}

.static-notification h6{
    color:#FFFFFF;
    border-bottom:solid 1px rgba(255,255,255,0.2);
}

.static-notification p{
    color:#FFFFFF;
}

.static-notification-close{
    color:#FFFFFF;
}

.tap-dismiss i{
    color:#FFFFFF;
}

.no-dismiss i{
    color:#FFFFFF;
}

.portfolio-adaptive-controls .portfolio-switch{
    border-left:solid 1px rgba(0,0,0,0.1);
    color:#1f1f1f;
}

.portfolio-wide .wide-title h3{
    color:#FFFFFF;
}

.portfolio-wide .wide-title em{
    color:rgba(255,255,255,0.6);
}


.portfolio-filter-categories{
    border-top:solid 1px rgba(0,0,0,0.1);
    border-bottom:solid 1px rgba(0,0,0,0.1);
}

.selected-filter{
    background-color:#27ae60;
    color:#FFFFFF!important;
}

.filter-category{ 
    color: #333; 
}

.calendar-titles a{
    color:#1f1f1f;
}

.calendar-days a{
    color:#1f1f1f;
}

.calendar-days a:hover{
    color:rgba(41, 128, 185,1.0);
}


.taken-day{
    color:rgba(255, 255, 255,1.0)!important;
}

.taken-day i{
    color:#27ae60;
}

.close-day{
    color:rgba(255, 255, 255,1.0)!important;
}

.close-day i{
    color:#c0392b;
}

.calendar-hours{
    border-top:solid 1px rgba(0,0,0,0.1);
}

.calendar-hour{
    height:90px;
    border-bottom:solid 1px rgba(0,0,0,0.1);
}

.calendar-hour-clear:hover{
    background-color: rgba(39, 174, 96, 0.1);  
}

.calendar-hour-taken:hover{
    background-color: rgba(192, 57, 43,0.1);   
}

.calendar-hour strong{
    color:#666666;
    opacity:0.7;
}


.chart-background{
	background-color:#CCC;
}

.red-chart{
	background-color:#c0392b;
}

.green-chart{
	background-color:#27ae60;
}

.yellow-chart{
	background-color:#f39c12;
}

.magenta-chart{
	background-color:#8e44ad;
}

.blue-chart{
	background-color:#2980b9;
}

.profile-picture img{
    border:solid 4px #FFFFFF;
}

.profile-header .profile-icon-1, .profile-header .profile-icon-2{
    color:#FFFFFF;
}

.page-profile-header .follow-buttons a{
    color:#FFFFFF;
    border:solid 2px rgba(255,255,255,0.5);
}

.page-profile-header .follow-buttons a:hover{
    background-color:rgba(255,255,255,0.1);
}

.page-profile-header img{
    border:solid 4px rgba(255,255,255,0.9);
}

.page-profile-header h3{
    color:#FFFFFF;
}

.page-profile-header em{
    color:#FFFFFF;
}

.page-profile-followers a{
    color:#666666;
}

.page-profile-followers a i{
    color:#1f1f1f;
}

.activity-item .activity-item-icon{
    color:#FFFFFF;
}

.user-feed .user-feed-image{
    color:#FFFFFF;
}

.user-item .user-item-image{
    color:#FFFFFF;
}

.boxed-layout{
    background-color:#FFFFFF;   
    border:solid 1px #1f1f1f;
}

.cover-page .overlay{
    background-color:rgba(0,0,0,0.8);
}

.unboxed-layout .page-error h1{
    color:#FFFFFF;
}

.unboxed-layout .page-error h4{
    color:rgba(255,255,255,0.4);
}

.unboxed-layout .page-error p{
    color:rgba(255,255,255,0.7);
}

.unboxed-layout .page-error a{
    color:#FFFFFF;
    border:solid 2px rgba(255,255,255,0.3);
}

.boxed-layout .page-error h1{
    color:#1f1f1f;
}

.boxed-layout .page-error h4{
    color:#444444;
}

.boxed-layout .page-error a{
    color:#000000;
    border:solid 2px rgba(0,0,0,0.3);
}


.unboxed-layout .page-soon h1{
    color:#FFFFFF;
}

.unboxed-layout .page-soon h4{
    color:rgba(255,255,255,0.4);
}

.unboxed-layout .page-soon p{
    color:rgba(255,255,255,0.7);
    border-bottom:solid 1px rgba(255,255,255,0.2);
}

.unboxed-layout .countdown-class{
    color:#FFFFFF;
}

.unboxed-layout .countdown-class em{
    color:rgba(255,255,255,0.5)!important;
}

.boxed-layout .page-soon h1{
    color:#1f1f1f;
}

.boxed-layout .page-soon h4{
    color:#444444;
}

.boxed-layout .page-soon p{
    color:#666666;

    border-bottom:solid 1px rgba(0,0,0,0.2);
}

.boxed-layout .countdown-class{
    color:#1f1f1f;
}

.boxed-layout .countdown-class em{
    color:rgba(0,0,0,0.5)!important;

}



.page-login .login-password input, 
.page-login .login-mail input, 
.page-login .login-date input, 
.page-login .login-input input{
    background-color:rgba(255,255,255,1);
    color:rgba(0,0,0,0.5);
    border-bottom:solid 2px rgba(0,0,0,0.1);
}

.page-login .login-password input:focus, 
.page-login .login-mail input:focus, 
.page-login .login-date input:focus, 
.page-login .login-input input:focus{
    color:#1f1f1f;
    border-bottom:solid 2px #27ae60;
}

.page-login .login-forgot:hover,
.page-login .login-create:hover,
.page-login .login-already:hover{
    color:#2e8ece;
}

.page-login .login-already{
    color:#cacaca;
}

.page-login .login-create{
    color:rgba(0,0,0,0.5);

}

.page-login .login-forgot{
    color:rgba(0,0,0,0.5);
}

.cover-field input{
    border-bottom:solid 1px rgba(255,255,255,0.15);
    background-color:transparent;
    color:#FFFFFF;
}

.cover-field i{
    color:#FFFFFF;
}

.cover-field input:focus{
    border-bottom:solid 1px #27ae60;
}


.pageapp-login-button i{
    border-right:solid 1px rgba(255,255,255,0.1);
    background-color:rgba(0,0,0,0.1);
}

.coverpage-slider .overlay{
    background-color:rgba(0,0,0,0.6);
}

.coverpage-slider .cover-slide h1,
.coverpage-slider .cover-slide h2,
.coverpage-slider .cover-slide h3,
.coverpage-slider .cover-slide h4,
.coverpage-slider .cover-slide h5,
.coverpage-slider .cover-slide h6{
    color:#FFFFFF;
}

.coverpage-slider .cover-slide p{
    color:#b2b2b2;
}

.coverpage-slider .cover-icon-center{
    color:#FFFFFF;
}

.coverpage-slider .cover-icon-round{border-radius:100%; border:solid 1px rgba(255,255,255,0.5);}

.tasklist-item{
    border-left:solid 4px #ecf0f1;
}

.tasklist-item i:first-child{
    color:rgba(0,0,0,0.2);
}

.tasklist-item h5{
    border-top:solid 1px rgba(0,0,0,0.1);
    border-right:solid 1px rgba(0,0,0,0.1);
}

.tasklist-completed{
    background-color:#fafafa;
}

.tasklist-completed i:first-child{
    color:#27ae60!important;
}

.tasklist-completed h5{
    color:rgba(0,0,0,0.5);
}

.checklist-square{
    border-bottom:solid 1px rgba(0,0,0,0.1);
    color:#1f1f1f;
}

.checklist-square-selected{
    color:rgba(0,0,0,0.3);
}

.checklist-round{
    border-bottom:solid 1px rgba(0,0,0,0.1);
    color:#1f1f1f;
}

.checklist-round-selected{
    color:rgba(0,0,0,0.3);

}

.reminder strong{
    color:#1f1f1f;
}

.reminder{
    border-bottom:solid 1px rgba(0,0,0,0.1);
}


.pageapp-timeline-1 .timeline-decoration{
    background-color:rgba(0,0,0,0.2);
}

.pageapp-timeline-1 .timeline-text,
.pageapp-timeline-1 .timeline-video,
.pageapp-timeline-1 .timeline-event,
.pageapp-timeline-1 .timeline-quote,
.pageapp-timeline-1 .timeline-image{
    background-color:#FFFFFF;
}

.pageapp-timeline-1 .timeline-icon{
    background-color:#FFFFFF;
}

.pageapp-timeline-1 .timeline-icon i{
    color:#1f1f1f;
    border:solid 1px rgba(0,0,0,0.2);
    background-color:#FFFFFF;
}

.pageapp-timeline-1 .responsive-image,
.pageapp-timeline-1 .gallery img{
    background-color:#FFFFFF;
    border:solid 1px rgba(0,0,0,0.2);
}

.pageapp-timeline-2 .timeline-decoration{
	background-color:rgba(0,0,0,0.1);
}

.pageapp-timeline-2 .timeline-icon i{
	background-color:#FFFFFF;
	color:#1f1f1f;
	border:solid 1px rgba(0,0,0,0.2);	
}

@media (min-width:768px){
	.pageapp-timeline-2 .timeline-decoration{
		background-color:rgba(0,0,0,0.1);
    }
    
	.pageapp-timeline-2 .timeline-icon i{
        background-color:#FFFFFF;
        color:#1f1f1f;
        border:solid 1px rgba(0,0,0,0.2);	  
    }
}

.store-slider h3{
    background: linear-gradient( to bottom,
      rgba(0, 0, 0, 0.01),
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.9)
    );
    color:#FFFFFF;
}

.store-thumbnails .overlay{
    background-color:rgba(0,0,0,1);
    opacity:0.7;
}

.store-thumbnails u{
    text-shadow:0px 2px 0px rgba(0,0,0,0.5);
    color:#FFFFFF;
}

.category-slider a em{
    color:#666666;
}

.category-slider a strong{
    color:#1f1f1f;
}

.category-title{
    border-top:solid 1px rgba(0,0,0,0.1);
    color:#000000;
}

.badge-store{
    background-color:rgba(0,0,0,1);
}

.badge-store h2{
    color:#FFFFFF;
}

.badge-store p{
    color:#FFFFFF;
}

.badge-store h3{
    color:#FFFFFF;
}

.badge-store p{
    color:rgba(255,255,255,0.7);
}

.store-slider-item-description h6{
    color:#e85242;
}

.store-slider-category{
    color:#777777;
}

.store-slider-buttons a{
    color:#FFFFFF;
}

.store-item strong{
    color:#1f1f1f;
}

.store-item em{
    color:#666666;
}

.store-item .offer{
    color:#27ae60;
}

.store-item-button-1{
    color:#FFFFFF;
    background-color:rgba(0,0,0,0.8);
}

.store-item-button-3{
    color:#FFFFFF;
    background-color:rgba(0,0,0,0.8);
}

.store-item-list a strong{
    color:#1f1f1f;
}

.store-item-list a em{
    color:#666666;
}

.store-item-list a u{
    background-color:rgba(255,255,255,0.9);
    color:#000000;
}

.cover-store h5{
    color:rgba(255,255,255,0.4);
}

.cover-store h5 a{
    color:#3498db!important;
}

.coverpage-slider .cover-store h5{
    color:rgba(255,255,255,0.4)!important;
}

.coverpage-slider .cover-store h5 a{
    color:#3498db!important;
}

.store-cart-1 .cart-item h2{
    color:#2981bb;
}

.store-cart-1 .cart-item h3{
    color:#666666;
}

.store-cart-1 .cart-item h4 a:first-child{
    color:rgba(0,0,0,0.4);
}

.store-cart-1 .cart-item h4 a:first-child:hover{
    color:#2cc16a;
}

.store-cart-1 .cart-item h4 a:last-child{
    color:rgba(0,0,0,0.4);
}

.store-cart-1 .cart-item h4 a:last-child:hover{
    color:#e74c3c;
}

.store-cart-1 .cart-item h4 input{
    border:solid 1px rgba(0,0,0,0.1);
}

.store-cart-1 .cart-item h5 a{
    color:#c0392b;
}

.store-cart-2 .cart-item h2{
    color:#FFFFFF;
    background-color:rgba(0,0,0,0.6);
}

.store-cart-2 .cart-item h3{
    color:#666666;
}

.store-cart-2 .cart-item h4 a:first-child{
    color:rgba(0,0,0,0.4);
}

.store-cart-2 .cart-item h4 a:first-child:hover{
    color:#2cc16a;
}

.store-cart-2 .cart-item h4 a:last-child{
    color:rgba(0,0,0,0.4);
}

.store-cart-2 .cart-item h4 a:last-child:hover{
    color:#e74c3c;
}

.store-cart-2 .cart-item h4 input{
    border:solid 1px rgba(0,0,0,0.1);
}

.store-input input{
    color:#bdc3c7;
    border:solid 1px rgba(0,0,0,0.2); 
}

.store-input input:focus{
    border:solid 1px #27ae60!important;
    color:#666666;
}

.store-input select{
    color:#bdc3c7;
    border:solid 1px rgba(0,0,0,0.2); 
}

.store-input select:focus{
    border:solid 1px #27ae60!important;
    color:#666666;
}

.store-about-image img{
    border:solid 5px #FFFFFF;
    -webkit-box-shadow: 0 1px 5px 0px rgba(0,0,0,001);
            box-shadow: 0 1px 5px 0px rgba(0,0,0,001);
}

.store-history-item h2{
    color:#666666;
}

.store-history-item h6{
    background-color:rgba(0,0,0,0.5);
    color:#FFFFFF;
}


.store-card-item h3{
    background: linear-gradient( to bottom,
      rgba(0, 0, 0, 0.01),
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.9)
    );
    color:#FFFFFF;
}

.store-card-item .store-card-cart{
    color:#FFFFFF;
    background-color:rgba(0,0,0,0.9);
}

.store-card-item .store-card-heart{
    color:#FFFFFF;
    background-color:rgba(0,0,0,0.9);
}

.sitemap-box a{
    color:#1f1f1f;
}

.sitemap-box a i{
    color:#FFFFFF;
}

.news-slider h3{

    background: linear-gradient( to bottom,
      rgba(0, 0, 0, 0.01),
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.9)
    );
    color:#FFFFFF;
}

.active-home-tab{
    color:#1f1f1f!important;
    border-bottom:solid 3px #e74c3c!important;
}

.home-tabs a:hover{
    color:#1f1f1f!important;
    border-bottom:solid 3px #e74c3c!important;
}

.home-tabs a{
    color:rgba(0,0,0,0.5);
    border-bottom:solid 3px #ecf0f1;
}

.thumb-layout strong{
    color:#1f1f1f;
}

.thumb-layout em{
    color:#666666;
}

.badge-news{
    background-color:rgba(0,0,0,1);
}

.badge-news h2{
    color:#FFFFFF;
}

.badge-news p{
    color:#FFFFFF;
}

.card-small-layout strong{
    background-color:#FFFFFF;
    color:#1f1f1f;
}

.card-small-layout em{
    color:#666666;
}

.card-small-layout u{
    color:#2980b9
}

.card-large-layout strong{
    background-color:#FFFFFF;
    color:#1f1f1f;
}

.card-large-layout em{
    color:#666666;
}

.card-large-layout u{
    color:#2980b9
}

.cover-news h5{
    color:rgba(255,255,255,0.4);
}

.cover-news h5 a{
    color:#3498db!important;
}

.coverpage-slider .cover-news h5{
    color:rgba(255,255,255,0.4)!important;
}

.coverpage-slider .cover-news h5 a{
    color:#3498db!important;
}

.news-article-overlay-text{
    color:rgba(255,255,255,0.8);
    background-color:rgba(0,0,0,0.8);
}

.news-article-overlay-text a{
    color:#FFFFFF;
}

.thumb-layout a u{
    color:rgba(0,0,0,0.4);
}

.profile-categories a{
    border-bottom:solid 1px rgba(0,0,0,0.05);
    color:#666666;
}

.profile-categories a em{
    color:#fFFFFF;
}

.page-blog-list-more i{
    color:#FFFFFF;
    background-color:#2980b9;
}

.page-blog-list-more i:hover{
    background-color:#3498db;
}

.page-blog-list-share i{
    color:#FFFFFF;
    background-color:#27ae60;

}

.page-blog-list-share i:hover{
    background-color:#2ecc71;
}

.blog-sidebar-search input{
    border-bottom:solid 2px rgba(0,0,0,0.2);
}

.blog-sidebar-search input:focus{
    border-bottom:solid 2px #27ae60;
}

.blog-sidebar-recent-posts a{
    border-bottom:solid 1px rgba(0,0,0,0.1);
}

.blog-sidebar-recent-posts strong{
    color:#1f1f1f
}

.blog-sidebar-recent-posts em{
    color:rgba(0,0,0,0.5);
}

.blog-sidebar-recent-posts i{
    color:#1f1f1f;
}

.blog-sidebar-categories a{
    border-bottom:solid 1px rgba(0,0,0,0.1);
    color:#1f1f1f;
}

.blog-sidebar-categories a em{
    background-color:#e74c3c;
    color:#FFFFFF;
}

.blog-post-comment strong{
    color:#1f1f1f;
}

.blog-post-comment-add input:focus{
    border-bottom:solid 2px #27ae60;
}

.blog-post-comment-add input{
    border-bottom:solid 2px rgba(0,0,0,0.1);
    color:rgba(0,0,0,0.5);
}


.blog-post-comment-add textarea{
    color:rgba(0,0,0,0.5);
    border-bottom:solid 2px rgba(0,0,0,0.1);
}


.blog-post-comment-add textarea:focus{
    border-bottom:solid 2px #27ae60;
}

.map-fullscreen  .overlay{
    background-color:rgba(0,0,0,9)!important; 
}

.map-fullscreen .map-text h3{
    color:#FFFFFF;
}

.map-fullscreen .map-text p{
    color:#FFFFFF;
}

.heading-style .line{
    background: black;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(#ececec), to(#ececec), color-stop(50%, rgba(0,0,0,0.2)));
    background: gradient(linear, 0 0, 100% 0, from(#ececec), to(#ececec), color-stop(50%, rgba(0,0,0,0.2))); 
}

.contactField{
	background-color:rgba(255,255,255,0.4);
	color:#666;
	border:solid 1px #cacaca;
}

.contactField:focus{
    border:solid 1px #27ae60;
}

.contactTextarea{
	background-color:rgba(255,255,255,0.4);
    color:#666;
    border:solid 1px #cacaca;
}

.contactTextarea:focus{
    border:solid 1px #27ae60;
}

.contact-call{
	color:#666;
}

.contact-call i{
    color:#1f1f1f;
}

.contact-text{
	color:#666;
}

.contact-text i{
    color:#1f1f1f;
}

.contact-mail{
	color:#666;
}

.contact-mail i{
    color:#1f1f1f;
}

.contact-facebook{
	color:#666;
}

.contact-facebook i{
    color:#1f1f1f;
}

.contact-twitter{
	color:#666;
}

.contact-twitter i{
    color:#1f1f1f;
}

.homepage-slider .slider-caption{
    background: linear-gradient( to bottom,
      rgba(0, 0, 0, 0.01),
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.9)
    );
}

.homepage-slider .slider-caption h3{
    color:#FFFFFF;
}

.homepage-slider .slider-caption p{
    color:rgba(255,255,255,0.6);
}

.circle-slider{
    border-bottom:solid 1px rgba(0,0,0,0.1);
}

.circle-slider img{
    border:solid 5px rgba(0,0,0,0.7);
}

.circle-slider .slider-caption{
    background: linear-gradient( to bottom,
      rgba(0, 0, 0, 0.0),
      rgba(0, 0, 0, 0.0)
    );
}

.circle-slider .slider-caption h3{
    color:#1f1f1f!important;   
}

.circle-slider .slider-caption p{
    color:#666666!important;   
}

.coverpage-slider{
    background-color:#000000;
}

.homepage-cover p{
    color:rgba(255,255,255,0.5)!important;
}

.homepage-cover .share-cover{
    color:#FFFFFF;
}

.homepage-cover .read-cover{
    color:#FFFFFF;
}

.homepage-coverpage-slider .overlay{
    background-color:rgba(0,0,0,0.6)!important;
}

.homepage-coverpage-slider .decoration{
    background-color:rgba(255,255,255,0.1);
}

.splash-screen  .overlay{
    background: linear-gradient( to bottom,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.9)
    )   
}

splash-content h4{
    color:#FFFFFF;
}

.splash-content h5{
    color:#cacaca;
}

.splash-content p{
    color:rgba(255,255,255,0.6);

}

.splash-content .splash-button{
    border:solid 1px rgba(255,255,255,0.5);
    color:rgba(255,255,255,0.8);
}

.splash-content .splash-button:hover{
    background-color:rgba(255,255,255,0.05);
}

