#page-content{
    position:fixed;
    left:0px;
    top:0px;
    bottom:0px;
    right:0px;
    z-index:1;
    overflow:hidden;
}

#page-content-scroll{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: -19px; 
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
            
.triangle-header{
    padding-bottom:11px;
    border-bottom:solid 1px rgba(0,0,0,0.1);
    margin-bottom:30px;
}

.triangle{
	width: 100%;
	height: 100px;
	background: #FFF;
	-webkit-clip-path: polygon(0 0, 100% 60%, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 60%, 100% 100%, 0% 100%);   
    margin-top:-100px;
    z-index:99999;
    
}

.triangle-slider img{
    display:block;
    width:120%;
    margin-left:-10%;
}

.triangle-title{
    margin-top:-65px;
    z-index:99999;
    position:relative;
    padding-left:20px;
    font-size:18px;
}

.triangle-subtitle{
    z-index:99999;
    position:relative;
    font-size:14px;
    padding-left:20px;
    margin-top:-10px;
    font-weight:400;
}


.heading-badge h3{
    width:95px;
    text-align:center;
    margin-bottom:0px!important;
    line-height:25px;
    font-size:12px;
    font-weight:400;
    padding-top:3px;
    padding-bottom:0px;
}

.heading-badge{
    margin-bottom:20px;
    border-width:3px!important;
}

.heading-title{
    text-align:center;
    font-size:19px;
    font-weight:650!important;
    padding-bottom:10px;
}

.heading-title-large{
    text-align:center;
    font-size:22px;
    font-weight:600!important;
    padding-bottom:10px;
}

.heading-style p{
    width:90%!important;
    margin-left:auto;
    margin-right:auto;
}

.heading-style .line{
    z-index:1;
    width:280px;
    margin-left:auto;
    margin-right:auto;
    margin-top:25px;
    margin-bottom:25px;
    display:block;
    height: 1px;
}

.heading-style i{
    background-color:#FFFFFF;
    font-size:24px;
    height:40px;
    width:50px;
    text-align:center;
    line-height:40px;
    color:#666666;
    position:absolute;
    top:38px;
    left:50%;
    margin-left:-25px;
    z-index:2;
}

.heading-style p{
    width:300px;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}

/*Content Strip*/

.coverflow-strip{
    background-color:#0e141b;
    padding-left:30px;
    padding-top:0px;
    padding-bottom:30px;
}

.coverflow-strip h3{
    color:#FFFFFF;
    text-align:center;
    padding-top:30px;
}

.coverflow-strip p{
    color:rgba(255,255,255,0.5);
    text-align:center;
    margin-top:30px;
}

.coverflow-strip a{
    margin-top:30px!important;   
}

.strip-button h4{
    text-align:center;
    padding-bottom:10px
}

.strip-button p{
    text-align:center;
    max-width:90%;
    margin-left:auto;
    margin-right:auto;
    padding-bottom:30px;
}

.strip-button a{
    text-align:center;
    width:130px;
    height:40px;
    line-height:40px;
    color:#FFFFFF;
    border:solid 1px rgba(255,255,255,0.5);
    border-radius:3px;
    margin-left:auto;
    margin-right:auto;
    font-size:13px;
}

.strip-button .overlay{
    background-color:rgba(0,0,0,0.8)!important;
}

.swiper-container-horizontal{
    overflow:hidden!important;;
}

.coverflow-thumbnails .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 200px;
    height: 200px;
    margin-top:20px;
}


/*Homepage Classic Settings*/

.call-to-action a{
    width:33.3%;
    float:left;
    text-align:center;
    color:#1f1f1f;
    border-bottom:solid 1px rgba(0,0,0,0.1);
    height:55px;
    line-height:55px;
}

.call-to-action i{
    padding-right:10px;    
}

.social-center{
    width:180px;
    margin-left:auto;
    margin-right:auto;
}

.social-center a{
    width:40px;
    height:40px;
    float:left;
    border-radius:40px;
    margin-left:10px;
    margin-right:10px;
}

.social-center a i{
    width:40px;
    height:40px;
    line-height:40px;
    text-align:center;
    font-size:13px;
    border-radius:45px;
}

.has-icon{
    font-size:18px;
}

.has-icon i{
    margin-right:20px;
    width:20px;
    text-align:center;
}


/*Columns*/

.column-left{
    min-height:150px;
    margin-bottom:30px;
    overflow:hidden;
}

.column-left img{
    width:150px;
    position:absolute;
    margin-left:-75px;
    border-radius:150px;
}

.column-left h4{
    padding-right:20px;
    padding-left:90px;
    padding-bottom:0px;
    margin-bottom:5px;
}

.column-left p{
    padding-right:20px;
    padding-left:90px;
    margin-bottom:0px;
}

.column-right{
    min-height:150px;
    margin-bottom:30px;
    overflow:hidden;
}

.column-right img{
    width:150px;
    position:absolute;
    right:-75px;
    border-radius:150px;
}

.column-right h4{
    padding-left:20px;
    padding-right:90px;
    padding-bottom:0px;
    margin-bottom:5px;
}

.column-right p{
    padding-left:20px;
    padding-right:90px;
    margin-bottom:0px;
}

/*Quote Slider*/

.quote-slider{
    overflow:hidden;
}

.quote-slider h4{
    font-weight:300;
    line-height:40px;
    text-align:center;
    max-width:80%;
    margin-left:auto;
    margin-right:auto;
}

.quote-slider em{
    margin-top:20px;
    color:#f1c40f;
    width:150px;
    margin-left:auto;
    margin-right:auto;
    display:block;
}

.quote-slider em i{
    font-size:18px;
    margin-left:5px;
    margin-right:5px;
}

.quote-slider a{
    text-align:center;
    font-size:12px;
    margin-top:-5px;
}


/*Staff Slider*/

.staff-slider{
    overflow:hidden;
}

.staff-slider img{
    margin-top:8px;
    width:150px!important;
    height:150px!important;
    border-radius:150px;
    margin-left:auto;
    margin-right:auto;
}

.staff-slider h3{
    text-align:center;
    margin-top:20px;
}

.staff-slider em{
    display:block;
    text-align:center;
    margin-top:-10px;
    margin-bottom:10px;
}

.staff-slider p{
    text-align:center;
    padding-left:20px;
    padding-right:20px;
    margin-bottom:20px;
}

.staff-icons a{
    margin-left:6px;
    margin-right:6px;
    margin-bottom:30px;
}

.staff-icons-three{
    width:180px;
    margin:0 auto;
}

.staff-icons-two{
    width:120px;
    margin:0 auto;
}

.staff-icons-one{
    width:60px;
    margin:0 auto;
}


.next-staff-slider, .next-quote-slider{
    top:50%;
    margin-top:-45px;
    right:20px;
    position:absolute;
    z-index:9;
    width:50px;
    height:50px;
    line-height:50px;
    border-radius:50px;
    text-align:center;
    color:#1f1f1f;
    transition:all 200ms ease;
}

.next-staff-slider:hover, .next-quote-slider:hover{
    background-color:rgba(0,0,0,0.1);
    transition:all 200ms ease;
}

.next-staff-slider i, .next-quote-slider i{
    font-size:16px;
    width:50px;
    height:50px;
    line-height:50px;
    text-align:center;
}

.prev-staff-slider, .prev-quote-slider{
    top:50%;
    margin-top:-45px;
    left:20px;
    position:absolute;
    z-index:9;
    width:50px;
    height:50px;
    border-radius:50px;
    line-height:50px;
    text-align:center;
    color:#1f1f1f;
    transition:all 200ms ease;
}

.prev-staff-slider:hover, .prev-quote-slider:hover{
    background-color:rgba(0,0,0,0.1);
    transition:all 200ms ease;
}

.prev-staff-slider i, .prev-quote-slider i{
    font-size:16px;
    width:50px;
    height:50px;
    line-height:50px;
    text-align:center;
}

/*Large Icon Columns*/ 

.icon-column i{
    display:block;
    font-size:40px;
    text-align:center;
    color:#1f1f1f;
    width:100px;
    height:100px;
    border-radius:100px;
    line-height:100px;
    margin-left:auto;
    margin-right:auto;
}

.icon-column h4{
    text-align:center;
    padding-top:20px;
}

.icon-column p{
    width:80%;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}

.footer-logo{
    background-image:url(../images/logo_dark.png);
    background-size:130px 25px;
    width:130px;
    height:25px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:20px;
}

.footer-content p{
    text-align:center;
    width:85%;
    margin-left:auto;
    margin-right:auto;
}

.footer-socials{
    width:300px;
    margin-left:auto;
    margin-right:auto;
}

.footer-socials a{
    width:40px;
    height:40px;
    line-height:42px;
    text-align:center;
    border-radius:40px;
    float:left;
    margin-left:5px;
    margin-right:5px;
}

.footer-strip{
    text-align:center;
    padding-top:20px;
    padding-bottom:50px;
}